body {
  background-color: rgb(250, 250,250);
}
.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  border: 1px solid beige;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered{
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths{
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.chart-container {
  display: flex;
  width: 100%;
}
.selectCountry{
  text-align: center;
}

.formControl {
  width: 30%;
  margin-bottom: 30px !important;
}
.pie-chart-container{
  padding-left: 4rem;
  width: 30%;
  justify-content: center;
}
.flagLogo{
  height: 20px;
  width: 35px;
  margin-left: .5rem;
}
.skeleton{
  width: 100%;
}
.header-component {
  display: flex;
}
.header-component::before, .header-text, .header-icons {
  content: '';
  flex-basis: 100%;
}
.header-text {
  text-align: center;
}
.header-icons {
  text-align: right;
  margin-right: .7rem;
  margin-top: .7rem;
}


@media only screen and (max-width: 770px) {
  .app-container {
    margin: 0 10%;
  }
  .card {
    margin: 2% 0 !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
